<div id="contact">
  <div class="row">
    <!-- Contact Form -->
    <section class="contact-form col-md-6 padding_30 padbot_45">
      <div class="section-title top_15 bottom_30">
        <span></span>
        <h2>Contact Form</h2>
      </div>
      <form class="site-form">
        <div class="row">
          <div class="col-md-6">
            <input class="site-input" placeholder="Name">
          </div>
          <div class="col-md-6">
            <input class="site-input" placeholder="E-mail">
          </div>
          <div class="col-md-12">
            <textarea class="site-area" placeholder="Message"></textarea>
          </div>
          <div class="col-md-12 top_15 bottom_30">
            <button class="site-btn" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </section>
    <!-- Contact Informations -->
    <section class="contact-info col-md-6 padding_30 padbot_45">
      <div class="section-title top_15 bottom_30">
        <span></span>
        <h2>Informations</h2>
      </div>
      <ul>
        <li><span>Address:</span> Bima, West Nusa Tenggara</li>
        <li><span>Phone:</span> +62 898-1574-606</li>
        <li><span>Job:</span> Technology Enthusiast</li>
        <li><span>E-mail:</span> cdw1@outlook.co.id</li>
        <li>
          <div class="social-icons top_15"> 
            <a href="https://www.facebook.com/cdw1p"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
            <a href="https://www.twitter.com/cdw1p"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
            <a href="https://www.instagram.com/cdw1p"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
          </div>
        </li>
      </ul>
    </section>
    <!-- Contact Map -->
    <section class="contact-map col-md-12 top_15 bottom_15">
      <div class="section-title bottom_30">
        <span></span>
        <h2>Maps Location</h2>
      </div>
      <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Kota%20Bima+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" height="350" style="border:0" allowfullscreen></iframe>
    </section>
  </div>
</div>