<div id="home">
  <!-- Text Section -->
  <div class="row">
    <section class="about-me line col-md-12 padding_30 padbot_30">
      <div class="section-title">
        <span></span>
        <h2>About Me</h2>
      </div>
      <p class="top_30">
        I'm a learner who has enthusiasm on software development especially on the development of website technology. I am an ambitious person and like to learn new things mainly on software technology development. I am a perfectionist and able to work on time, both individually or teamwork. I'm really excited to improve my hardskill and learn something new based on my field.
      </p>
    </section>
  </div>
  <!-- My Skill Section -->
  <div class="row">
    <section class="services line graybg col-md-12 padding_50 padbot_30">
      <div class="section-title bottom_30">
        <span></span>
        <h2>Professional Skills</h2>
      </div>
      <div class="row">
        <!-- a skill -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service">
            <div class="icon">
              <i class="flaticon-security"></i>
            </div>
            <span class="title">Web Security</span>
            <p class="little-text">Pentest & Hardening server with <b>6 years'</b> experience.</p>
          </div>
        </div>
        <!-- a skill -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service">
            <div class="icon">
              <i class="flaticon-html"></i>
            </div>
            <span class="title">Full-stack Developer</span>
            <p class="little-text">Front-end, Back-end, & Mobile with <b>3 years</b> experience.</p>
          </div>
        </div>
        <!-- a skill -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service">
            <div class="icon">
              <i class="flaticon-task"></i>
            </div>
            <span class="title">Software Automation</span>
            <p class="little-text">Converting to a Automated Process only with <b>Code</b>.</p>
          </div>
        </div>
        <!-- a skill -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service">
            <div class="icon">
              <i class="flaticon-vector"></i>
            </div>
            <span class="title">UI / UX Design</span>
            <p class="little-text">I love shapes. Color is like the <b>finishing</b> touch on everything.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Skills Section -->
  <div class="row">
    <section class="design-skills col-md-6 padding_60 padbot_30">
      <div class="section-title bottom_30">
        <span></span>
        <h2>Design Skills</h2>
      </div>
      <ul class="skill-list">
        <li>
          <h3>Adobe XD</h3>
          <div class="progress">
            <div class="percentage" style="width:85%;"></div>
          </div>
        </li>
        <li>
          <h3>Adobe Photoshop</h3>
          <div class="progress">
            <div class="percentage" style="width:85%;"></div>
          </div>
        </li>
        <li>
          <h3>Corel Draw</h3>
          <div class="progress">
            <div class="percentage" style="width:90%;"></div>
          </div>
        </li>
        <li>
          <h3>Figma</h3>
          <div class="progress">
            <div class="percentage" style="width:90%;"></div>
          </div>
        </li>
      </ul>
    </section>
    <section class="code-skills col-md-6 padding_60">
      <div class="section-title bottom_30">
        <span></span>
        <h2>Code Skills</h2>
      </div>
      <ul class="skill-list">
        <li>
          <h3>Front-end (React.js, Vue.js)</h3>
          <div class="progress">
            <div class="percentage" style="width:90%;"></div>
          </div>
        </li>
        <li>
          <h3>Back-end (Laravel, Flask, Express.js)</h3>
          <div class="progress">
            <div class="percentage" style="width:95%;"></div>
          </div>
        </li>
        <li>
          <h3>Mobile (React Native)</h3>
          <div class="progress">
            <div class="percentage" style="width:95%;"></div>
          </div>
        </li>
        <li>
          <h3>Automation (Node.js)</h3>
          <div class="progress">
            <div class="percentage" style="width:95%;"></div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>