<div id="resume">
  <!-- Resume Section -->
  <div class="row">
    <section class="education">
      <div class="section-title top_30">
        <span></span>
        <h2>Resume</h2>
      </div>
      <div class="row">
        <!-- Working History -->
        <div class="working-history col-md-6 padding_15 padbot_30">
          <ul class="timeline col-md-12 top_30">
            <li>
              <i class="fa fa-suitcase" aria-hidden="true"></i>
              <h2 class="timeline-title">Working History</h2>
            </li>
            <li>
              <h3 class="line-title">PT Setya Jaya Komunikasi</h3>
              <span>Software Engineer (Feb 2022 - Present)</span>
            </li>
            <li>
              <h3 class="line-title">PT Banyu Biru Kahurangi</h3>
              <span>Software Engineer (Agu 2021 - Present)</span>
            </li>
            <li>
              <h3 class="line-title">CV. Distrive Creative Studio</h3>
              <span>Founder (Dec 2020 - Present)</span>
            </li>
            <li>
              <h3 class="line-title">PT Pelabuhan Indonesia III (Persero)</h3>
              <span>IT Support (Jan 2018 - Feb 2022)</span>
            </li>
            <li>
              <h3 class="line-title">PC 39 Laptop Repair Services</h3>
              <span>Service Technician (May 2017 - Dec 2017)</span>
            </li>
          </ul>
        </div>
        <!-- Education History -->
        <div class="education-history col-md-6 padding_15 padbot_30">
          <ul class="timeline col-md-12 top_30">
            <li>
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              <h2 class="timeline-title">Education History</h2>
            </li>
            <li>
              <h3 class="line-title">Universitas 17 Agustus 1945 Surabaya</h3>
              <span>2019 - Present</span>
              <p class="little-text">Bachelor's degree, Information Technology</p>
            </li>
            <li>
              <h3 class="line-title">SMK Negeri 1 Kota Bima</h3>
              <span>2014 - 2017</span>
              <p class="little-text">Information Technology</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>