<!DOCTYPE html>
<html lang="en" style="--scrollbackground:var(lightBG)">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="color-scheme" content="dark light">
      <title><%= page_title %></title>
      <!-- Load Javascript and CSS for Fomantic UI -->
      <script src="./assets/js/jquery-3.5.1.min.js"></script>
      <script src="./assets/js/semantic.min.js"></script>
      <link rel="stylesheet" href="./assets/css/semantic.min.css">
      <!-- Load Techfolio CSS customizations -->
      <link rel="stylesheet" type="text/css" href="./assets/css/stylesheet-default.css">
      <link rel="stylesheet" type="text/css" href="./assets/css/stylesheet-customizations.css">
      <link rel="stylesheet" type="text/css" href="./assets/css/print-default.css" media="print">
      <link rel="stylesheet" type="text/css" href="./assets/css/base16.dark.css">
      <!-- Load MathJax if 'mathjax: true' is found in your _config.yml. -->
      <noscript>
         <style>.avoid-flicker{display:block!important;visibility:visible!important}.jsOnly{display:none!important;visibility:hidden!important}</style>
      </noscript>
   </head>