<%- include('./templates/header') -%>
  <body>
  <div class="nonprintable">
    <nav class="ui stackable menu pointing">
      <a href="/" class="brand item">
        <img class="ui avatar image" src="https://avatars1.githubusercontent.com/u/17512940" alt="Cahyo Dwi Putro"><span>Cahyo Dwi Putro</span>
      </a>
      <a href="/projects#all" class="blue item">Projects</a>
      <a href="/cv" class="active blue item">CV</a>
    </nav>
    <button class="ui button icon basic darkmode-button jsOnly" id="darkmode" data-tooltip="Toggle theme" data-position="bottom right" style="z-index: 2;"><i class="moon icon"></i></button>
    <a href="#" class="ui button icon basic translate-button" data-position="bottom right"><i class="us flag"></i></a>
  </div>
  <div class="cv" style="margin-top: 10px; margin-bottom:6em;">
    <div style="margin-bottom: 20px" class="ui stackable grid container no-bottom nonprintable"></div>
    <div style="margin-bottom: 20px" class="ui one column stackable grid container" id="Education">
      <div class="row">
        <div class="column">
          <h4 class="ui horizontal left aligned divider header">
            <i class="graduation cap icon"></i>Education
          </h4>
          <div class="ui three stackable cards" style="padding-top: 6px;">
            <div class="ui card yellow">
              <div class="content">
                <a class="ui top attached grey label" href="https://www.smkn1kotabima.sch.id/" target="_blank"><i class="map marker alternate icon"></i>SMK Negeri 1 Bima City</a>
                <div class="header">Information Technology</div>
                <div class="meta"><p>-</p></div>
                <div class="description"></div>
              </div>
              <div class="extra content">
                <div class="right floated"><i class="calendar icon"></i>06/2014 - 06/2017</div>
              </div>
            </div>
            <div class="ui card blue">
              <div class="content">
                <a class="ui top attached grey label" href="http://untag-sby.ac.id/" target="_blank"><i class="map marker alternate icon"></i>Universitas 17 Agustus 1945 Surabaya</a>
                <div class="header">Information Technology</div>
                <div class="meta"><p>Bachelor's degree</p></div>
                <div class="description"></div>
              </div>
              <div class="extra content">
                <div class="right floated"><i class="calendar icon"></i>09/2019 - Present</div>
              </div>
            </div>
            <div class="ui card green">
              <div class="content">
                <a class="ui top attached grey label" href="https://www.dicoding.com/blog/pengumuman-beasiswa-line-developer-academy-2020/" target="_blank"><i class="map marker alternate icon"></i>Dicoding.com</a>
                <div class="header">LINE Developer Academy 2020</div>
                <div class="meta"><p>Scholarship</p></div>
                <div class="description"></div>
              </div>
              <div class="extra content">
                <div class="right floated"><i class="calendar icon"></i>12/2020 - Present</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 20px" class="ui two column stackable grid container">
      <div class="column" id="Certificates">
        <h4 class="ui horizontal left aligned divider header">
          <i class="certificate icon"></i>Certificates
        </h4>
        <div class="ui top attached tabular menu jsOnly">
          <a class="item" data-tab="Programming">Programming</a>
          <a class="item" data-tab="Security">Security</a>
          <a class="item" data-tab="Cloud">Cloud</a>
        </div>
        <div class="ui bottom attached tab segment" data-tab="Programming">
          <div class="ui relaxed divided bulleted list">
            <div class="item">
              <div class="content">
                <a href="https://www.hackerrank.com/certificates/d87bf101c511" target="_blank" class="header">Python (Basic), <i>HackerRank, 2020</i></a>
                <i>Covering topics like Scalar Types, Operators and Control Flow, Strings, Collections and Iteration, Modularity, Objects and Types and Classes.</i>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="https://www.hackerrank.com/certificates/de40c3e65b77" target="_blank" class="header">Javascript (Basic), <i>HackerRank, 2020</i></a>
                <i>Covering topics like Functions, Currying, Hoisting, Scope, Inheritance, Events and Error Handling.</i>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="https://www.hackerrank.com/certificates/06c0049f277c" target="_blank" class="header">React (Basic), <i>HackerRank, 2020</i></a>
                <i>Covering topics like Basic Routing, Rendering Elements,State Management (Internal Component State), Handling Events, ES6 and JavaScript and Form Validation.</i>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="https://www.hackerrank.com/certificates/1e8b66499c7d" target="_blank" class="header">Problem Solving (Basic), <i>HackerRank, 2020</i></a>
                <i>Covering topics like Data Structures (such as Arrays, Strings) and Algorithms (such as Sorting and Searching).</i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="Security">
          <div class="ui relaxed divided bulleted list">
            <div class="item">
              <div class="content">
                <a href="https://www.icsi.co.uk/certificates/n7qrgnhw0z" target="_blank" class="header">Cybersecurity Essentials, <i>ICSI, 2020</i></a>
                <i>ID Credentials : n7qrgnhw0z</i>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="https://training.fortinet.com/mod/customcert/verify_certificate.php" target="_blank" class="header">Network Security Expert (NSE 1), <i>Fortinet, 2020</i></a>
                <i>ID Credentials : 3yMydZeaip (Expired 27/09/2022)</i>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="https://training.fortinet.com/mod/customcert/verify_certificate.php" target="_blank" class="header">Network Security Expert (NSE 2), <i>Fortinet, 2020</i></a>
                <i>ID Credentials : aEnNOHosOd (Expired 27/09/2022)</i>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="https://www.youracclaim.com/badges/76450b01-b6b3-4032-a5d2-0a2ecd057bc6" target="_blank" class="header">Introduction to Cybersecurity, <i>Cisco, 2020</i></a>
                <i>Covering topics about introductory knowledge of cybersecurity, including the global implications of cyber threats, the impact of cyber attacks on industries, and why cybersecurity is a growing profession.</i>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="https://www.youracclaim.com/badges/b7431b5d-dda5-4ade-bcf5-3d2122f2ee0c" target="_blank" class="header">Cybersecurity Essentials, <i>Cisco, 2020</i></a>
                <i>Covering topics about basics of network security, DevSecOps (Development, Security, Operations), encryption and cybersecurity laws.</i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="Cloud">
          <div class="ui relaxed divided bulleted list">
            <div class="item">
              <div class="content">
                <a href="https://skillshop.exceedlms.com/student/path/7325-google-cloud-platform-business-professional-accreditation" target="_blank" class="header">GCP Business Professional Accreditation, <i>Google Cloud Certification, 2020</i></a>
                <i>Covering topics about basics of cloud and how it’s affecting the future of work.</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <h4 class="ui horizontal left aligned divider header">
          <i class="award icon"></i>Achievements
        </h4>
        <div class="ui segment">
          <div class="ui relaxed divided bulleted list">
            <div class="item">
              <div class="content">
                <a href="#" class="header">Private Disclosure Program, <i>Kominfo Provinsi Sumatera Selatan, 2019</i></a>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="#" class="header">Private Disclosure Program, <i>UKM Cyber Security Universitas Jember, 2019</i></a>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a href="#" class="header">Private Disclosure Program, <i>Badan Siber dan Sandi Negara (BSSN), 2019</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 20px" class="ui three column stackable grid container">
      <div class="column" id="Languages">
        <h4 class="ui horizontal left aligned divider header">
          <i class="code icon"></i>Languages
        </h4>
        <div class="ui segment">
          <div class="ui labels small">
            <div class="ui grey label" data-tooltip="Basic">VB.NET</div>
            <div class="ui grey label" data-tooltip="Advanced">Node.js</div>
            <div class="ui grey label" data-tooltip="Advanced">Javascript</div>
            <div class="ui grey label" data-tooltip="Advanced">PHP</div>
            <div class="ui grey label" data-tooltip="Basic">Java</div>
            <div class="ui grey label" data-tooltip="Basic">Python</div>
            <div class="ui grey label" data-tooltip="Basic">CSS</div>
            <div class="ui grey label" data-tooltip="Basic">Sass</div>
            <div class="ui grey label" data-tooltip="Basic">Batch</div>
          </div>
        </div>
      </div>
      <div class="column" id="Frameworks">
        <h4 class="ui horizontal left aligned divider header">
          <i class="crop alternate icon"></i>Frameworks
        </h4>
        <div class="ui segment">
          <div class="ui labels small">
            <div class="ui grey label" data-tooltip="Advanced">Express.js</div>
            <div class="ui grey label" data-tooltip="Basic">Vue.js</div>
            <div class="ui grey label" data-tooltip="Basic">React.js</div>
            <div class="ui grey label" data-tooltip="Basic">Electron.js</div>
            <div class="ui grey label" data-tooltip="Advanced">React Native</div>
            <div class="ui grey label" data-tooltip="Advanced">Laravel</div>
            <div class="ui grey label" data-tooltip="Basic">CMS</div>
          </div>
        </div>
      </div>
      <div class="column" id="Tools">
        <h4 class="ui horizontal left aligned divider header">
          <i class="wrench icon"></i>Tools
        </h4>
        <div class="ui segment">
          <div class="ui labels small">
            <div class="ui grey label">Git/GitHub</div>
            <div class="ui grey label">Postman</div>
            <div class="ui grey label">Adobe Photoshop</div>
            <div class="ui grey label">Corel Draw</div>
            <div class="ui grey label">Google Docs</div>
            <div class="ui grey label">Caffeine</div>
          </div>
        </div>
      </div>
      <div class="column" id="Systems">
        <h4 class="ui horizontal left aligned divider header">
          <i class="laptop icon"></i>Systems
        </h4>
        <div class="ui segment">
          <div class="ui labels small">
            <div class="ui grey label">Windows</div>
            <div class="ui grey label">Ubuntu</div>
            <div class="ui grey label">Kubuntu</div>
          </div>
        </div>
      </div>
      <div class="column" id="IDEs">
        <h4 class="ui horizontal left aligned divider header">
          <i class="laptop code icon"></i>IDEs
        </h4>
        <div class="ui segment">
          <div class="ui labels small">
            <div class="ui grey label">Sublime Text</div>
            <div class="ui grey label">Notepad++</div>
            <div class="ui grey label">VSCode</div>
          </div>
        </div>
      </div>
      <div class="column" id="GameEngines">
        <h4 class="ui horizontal left aligned divider header">
          <i class="cloud icon"></i>Cloud Engines
        </h4>
        <div class="ui segment">
          <div class="ui labels small">
            <div class="ui grey label">Google Cloud Platform</div>
            <div class="ui grey label">Amazon Web Services</div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 20px" class="ui one column stackable grid container" id="Interests">
      <div class="column">
        <h4 class="ui horizontal left aligned divider header">
          <i class="heart icon"></i>Interests
        </h4>
        <div class="ui segment">
          <div class="ui labels small">
            <div class="ui grey label">Security</div>
            <div class="ui grey label">Automation</div>
            <div class="ui grey label">Artificial Intelligence</div>
            <div class="ui grey label">Deep Learning</div>
            <div class="ui grey label">Machine Learning</div>
            <div class="ui grey label">Web Development</div>
            <div class="ui grey label">Mobile Development</div>
            <div class="ui grey label">Desktop Development</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('.menu .item').tab()
  </script>
  <%- include('./templates/footer') -%>